<mat-table matSort [dataSource]="notes">

  <!-- Name -->
  <ng-container matColumnDef="title">
    <mat-header-cell mat-sort-header *matHeaderCellDef>Note</mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.title }}
    </mat-cell>
  </ng-container>

  <!-- status -->
  <ng-container matColumnDef="status">
    <mat-header-cell mat-sort-header *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <span class="status" [class.status-todo]="element.status == 'todo'" [class.status-done]="element.status == 'done'">{{ element.status }}</span>
    </mat-cell>
  </ng-container>

  <!-- Date -->
  <ng-container matColumnDef="created">
    <mat-header-cell mat-sort-header *matHeaderCellDef>Date</mat-header-cell>
    <mat-cell *matCellDef="let element">{{ date.formatDate(element.created) }}</mat-cell>
  </ng-container>

  <!-- Edit button -->
  <ng-container matColumnDef="tools">
    <mat-header-cell *matHeaderCellDef> &nbsp; </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <mat-icon style="cursor: pointer;" [matMenuTriggerFor]="menu">more_vert</mat-icon>
      <mat-menu #menu="matMenu">
        <button (click)="viewNote(element)" mat-menu-item>View Note</button>
        <button routerLink="/notes/edit-note/{{element.id}}" mat-menu-item>Edit Note</button>
        <button (click)="deleteNote(element.id)" mat-menu-item>Delete Note</button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <!-- header & row -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>
