<div class="create-page create-note-page">

  <!-- page title -->
  <h1 class='page-title'>
    <ng-container *ngIf="!isEditing">Create a Note</ng-container>
    <ng-container *ngIf="isEditing">Edit Note</ng-container>
  </h1>

  <!-- form -->
  <form [formGroup]='form' *ngIf="!isLoading">

    <!-- Title -->
    <mat-form-field appearance="outline">
      <mat-label>Title*</mat-label>
      <input matInput placeholder="Title*" formControlName="title">
      <mat-error *ngIf="form.get('title')!.hasError('required')">
        Title is required.
      </mat-error>
    </mat-form-field>

    <!-- Context -->
    <mat-form-field appearance="outline">
      <mat-label>Context</mat-label>
      <textarea matInput placeholder="Context" formControlName="body"></textarea>
    </mat-form-field>

    <!-- media -->
    <div class="input-file">
      <div class="label">Media</div>
      <img [src]="imageUrl" *ngIf="imageUrl" (error)="removePreview($event)">
      <input enctype = "multipart/form-data" type="file" name="file" (change)="uploadMedia($event)" accept="image/gif,image/jpeg,image/png,image/svg+xml,video/mp4,video/x-m4v"> 
    </div>

    <!-- status -->
    <mat-form-field appearance="outline">
      <mat-label>Status*</mat-label>
      <mat-select placeholder="Status*" formControlName="status">
        <mat-option value="todo">TODO</mat-option>
        <mat-option value="done">DONE</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('status')!.hasError('required')">
        Status is required.
      </mat-error>
    </mat-form-field>

    <!-- Action Button -->
    <div class="actionBtn">
      <button mat-raised-button type="submit" class="submit-btn" [disabled]="form.invalid || isSubmitting" (click)="submit()">{{ btn }}</button>
    </div>

  </form>

  <!-- spinner -->
  <div class="matspinner" *ngIf="isLoading">
    <mat-spinner strokeWidth="5"></mat-spinner>
  </div>
  
</div><!-- create-page create-note-page -->