<main class="page-login">

    <div class="login mat-elevation-z3">
  
      <!-- Header -->
      <div class="loginheader">
        <h1 class="logintitle">TODO LIST</h1>
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()" novalidate>
        <mat-form-field>
          <input matInput placeholder="Email Address" formControlName="email" spellcheck="false" />
          <mat-error *ngIf="loginForm.get('email')!.hasError('required')">
            Email is required.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')!.hasError('email')">
            Invalid Email, Valid format is <strong>name@company.abc</strong>
          </mat-error>
        </mat-form-field>
  
        <mat-form-field>
          <input matInput placeholder="Password" formControlName="password" type="password"/>
          <mat-error *ngIf="!!loginForm.get('password')!.hasError('required')">
            Password is required.
          </mat-error>
        </mat-form-field>
  
        <!-- Action Button -->
        <div class="actionBtn">
          <button mat-raised-button type="submit" class="submit-button" [disabled]="loginForm.invalid || isSubmitting">{{ loginbtn }}</button>
        </div>
  
      </form>
  
    </div>
  
  </main>
  