
<!-- Header -->
<h1 class='header'>Note Details</h1>

<form [formGroup]='form'>
  <div class='content'>

    <!-- title -->
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <!-- Context -->
    <mat-form-field appearance="outline">
      <mat-label>Context</mat-label>
      <input matInput placeholder="Context" formControlName="body">
    </mat-form-field>

    <!-- media -->
    <div class="input-file" *ngIf="form.get('media')!.value">
      <div class="label">Media <a [href]="form.get('media')!.value" target="_blank">View</a></div>
      <img [src]="imageUrl" *ngIf="imageUrl" (error)="removePreview($event)" >
    </div>
    
    <!-- Status -->
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select placeholder="Status*" formControlName="status">
        <mat-option value="todo">TODO</mat-option>
        <mat-option value="done">DONE</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- created -->
    <mat-form-field appearance="outline">
      <mat-label>Created date</mat-label>
      <input matInput placeholder="Created date" formControlName="created">
    </mat-form-field>

    <!-- updated -->
    <mat-form-field appearance="outline">
      <mat-label>Updated date</mat-label>
      <input matInput placeholder="Updated date" formControlName="edited">
    </mat-form-field>

    <!-- Action Buttons -->
    <div class="actionbtns">
      <button mat-button (click)="onClose.emit()">Close</button>
    </div>

  </div>

</form>

