<div class="defaultLightbox">
  <h1>Delete Note</h1>
  <div class='lightboxcontent'>
    Are you sure you want to delete this note?
  </div>
  <div class='lightboxfooter'>
    <button (click)="onClose.emit()" mat-button >No</button>
    <button mat-button (click)="deleteNote()" >Yes</button>
  </div>
</div>
