<mat-sidenav-container fullscreen>
    <mat-sidenav class='mainmenu' #sidenav [mode]="menuside" [opened]="menuopen" position="start">
        <nav>
            
            <!-- Logged in Profile Details -->
            <div class='profile'>
                <div class='userinitials'>{{ userinitials }}</div>
                <div class='useremail'>{{ useremail }}</div>
            </div>

            <!-- Menu -->
            <div class="sidenav-menu">

                <a routerLink="/notes/create-note" (click)="sidenav.toggle()" class="submenu">
                    <i class="material-icons">note_add</i> Add Note
                </a>

                <a routerLink="/notes" (click)="sidenav.toggle()" class="submenu">
                    <i class="material-icons">event_note</i> Notes
                </a>
    
                <a href='javascript:void(0);' (click)="logOut()">
                    <i class="material-icons">exit_to_app</i> Logout
                </a>
            </div>
            
        </nav>

    </mat-sidenav>

    <!-- header -->
    <mat-toolbar class='header' *ngIf='showheader'>
      <mat-toolbar-row>
        <a href='javascript:void(0);' (click)="toggleMenu()" class="menubtn">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="header-title">TODO LIST</div> <!-- use logo here -->
      </mat-toolbar-row>
    </mat-toolbar>
  
    <div class='container'>
      <router-outlet></router-outlet>
    </div>

    <!-- lightbox -->
    <app-lightbox *ngIf="lightbox.showLightbox"
        [lightboxTemplate]="lightbox.lightboxTemplate"
        [lightboxInfo]="lightbox.lightboxInfo"
        (onClose)="lightbox.close()">
    </app-lightbox>

    <!-- aside -->
    <mat-sidenav class='aside' #asidenav mode="over" opened="false" position="end">
        <app-aside (onClose)="aside.closingAside()"></app-aside>
    </mat-sidenav>

  </mat-sidenav-container>
  