<div class="view-page view-notes-page">

  <!-- page Title -->
  <mat-toolbar>
    <mat-toolbar-row>
        <h1 class='page-title'>Notes</h1>
        <span class="toolbarspacer"></span>
        <button mat-raised-button class='create-btn' routerLink="/notes/create-note">Add</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="mat-elevation-z3" >

    <!-- note list table -->
    <app-note-list *ngIf="!isLoading" [notesData]="notesData" (deleteNoteById)="deleteNote($event)" (viewNoteById)="openAside($event, 'viewNote')"></app-note-list>

    <!-- spinner -->
    <div class="matspinner" *ngIf="isLoading">
      <mat-spinner strokeWidth="5"></mat-spinner>
    </div>

  </div><!-- mat-elevation-z3 -->

</div><!-- view-notes-page -->