
<div class="lightbox" [ngSwitch]="lightboxTemplate">

<div *ngSwitchCase="'deleteNote'">
  <app-delete-note [lightboxInfo]="lightboxInfo" (onClose)="onClose.emit()"></app-delete-note>
</div>

<div *ngSwitchDefault>
  <div class="defaultLightbox">
    <h1>Lightbox</h1>
    <div>Oops an error occured</div>
    <button (click)="onClose.emit()" mat-button >Close</button>
  </div>
</div>


</div>

