
<div class="aside" [ngSwitch]="asideTemplate">

  <div class="aside-component-wrapper" *ngSwitchCase="'viewNote'">
    <app-view-note [asideId]="asideId" (onClose)="onClose.emit()"></app-view-note>
  </div>
  
  <!-- Default Switch Case -->
  <div *ngSwitchDefault>

    <!-- Header -->
    <h1 class="header">Oops...</h1>

    <!-- Content -->
    <div class="content">Oops an error occured</div>

    <!-- Action Buttons -->
    <div class="actionBtn">
      <button mat-button (click)="onClose.emit()">Cancel</button>
    </div>

  </div>

</div>
