/* You can add global styles to this file, and also import other style files */

/*=========================== GLOBAL CSS ===============================*/

// theme colors
$maincolor: #db4c3f;
$themeaccentcolor: #ae362b;
$bg-failure: #eb4d4b;
$bg-success: #6ab04c;
$bg-pending: rgba(189,100,0,0.6);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container { max-width: 1440px; margin: 0px 70px; width: calc(100% - 140px); }

// scrollbar
::-webkit-scrollbar { height: 6px; width: 6px; }
::-webkit-scrollbar-thumb { background-color: #6e6e6e; outline: #444 solid 1px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

/*=========================== MATERIAL ===============================*/

// Snackbar container
.mat-snack-bar-container {margin: 20px !important;}
.mat-snack-bar-container-failure {background-color: $bg-failure;}
.mat-snack-bar-container-success {background-color: $bg-success;}
.mat-snack-bar-container-pending {background-color: $bg-pending;color: #fff;}

// table
mat-table { 
    & { border-top: 2px solid $maincolor; margin-top: 10px; max-height: 80vh; overflow: auto; }
    .mat-header-cell { font-size: 14px; color: $maincolor; text-transform: uppercase; font-weight: 700; }
}

// spinner
.matspinner { justify-content: center; align-items:center; display: flex; min-height: 50vh; }

// mat menu
.mat-menu-item { line-height: 30px !important; height: 30px !important; }

/*=========================== APP ===============================*/

// header
.header {
    & { background-color: $maincolor; position: fixed; z-index: 1000; }
    .menubtn { background: $themeaccentcolor; color: #fff; width: 80px; margin: 0 15px 0 -16px; height: 100%; transition: width 1s ease; display: flex; flex-direction: column; justify-content: center; align-items: center; }
    .header-title { color: #fff; font-size: 20px; }
    .bar { height: 4px; background-color: #fff; margin: 2px 0px; width: 30px; }
}

// sidenav
.mainmenu {
    & { width: 300px; background: $maincolor; }
    .profile { background: $themeaccentcolor; padding: 20px; text-align: center; display: flex; align-items: center; }
    .userinitials { flex: 0 0 60px; border-radius: 100%; background: $maincolor; display: flex; width: 60px; height: 60px; justify-content: center; align-items: center; font-size: 28px; color: #fff; }
    .useremail { flex: 0 0 auto; font-size: 12px; margin-left: 10px; color: #fff; }
    .sidenav-menu {
        & { padding: 20px; }
        a { display: flex; align-items: center; font-size: 14px; text-decoration: none; color: #fff; padding: 6px 0px; border-bottom: 1px solid $themeaccentcolor; }
        i { margin-right: 5px; }
    }
}
.mat-drawer-container { background-color: #fff; }

// lightbox
app-lightbox { display: flex; justify-content: center; position: fixed;  width: 100%; height: 100%; background: rgba(0,0,0,0.5);  z-index: 10000; top: 0px; left: 0px; right: 0px; bottom: 0px; }
.lightbox {
    & { position: fixed; text-align: center; padding: 0px; background: #FFF; z-index: 10001; border-radius: 8px; top: 64px; left: 50%; transform: translate(-50%, 0px); min-width: 400px; }
    h1 { color: #FFF;  font-size: 20px; margin: 0px; padding: 20px 0px; border-top-right-radius: 8px; border-top-left-radius: 8px; background-color: $maincolor; }
    .lightboxcontent { padding: 10px; font-size: 15px; }
    .lightboxfooter { display: flex; justify-content: flex-end; padding: 10px; }
}

// aside
.aside {
    & {background: #ecf0f1; }
    .header { width: calc(100% - 30px); padding: 15px 15px; margin: 0; background: #FFF; text-transform: uppercase; position: static; }
    .content { margin: 20px; }
    .actionBtn { display: flex; justify-content: flex-end; margin: 20px; }
    mat-form-field { width: 100%; }
    .aside-component-wrapper { width: 100%; float: left; }
    .label { margin-bottom: 5px; color: #808080; } 
    .input-file img { max-width: 100px; display: block; margin-bottom: 10px; }
}
mat-sidenav.mat-drawer.mat-sidenav.aside { height: 100vh; overflow: hidden; width:90%; }

/*=========================== PAGES ===============================*/

// page - 404
.page-404 {
    & { display: flex; align-items: center; justify-content: center; height: 100vh; text-align: center; }
    h1 { margin-bottom: 0px; }
    span { font-size: 40px; }
}

// page - login
.page-login {
    & { display: flex; align-items: center; justify-content: center; flex-direction: column; min-height: 100vh; }
    .login {min-width: 30vw; padding: 30px;}
    .loginheader {margin: -30px -30px 0 -30px;padding: 20px;text-align: center; background-color: $maincolor; }
    .loginheader h1 { margin-bottom: 0px; color: #fff; }
    .actionBtn { display: flex; justify-content: flex-end; }
    .actionBtn button { background-color: $maincolor; color: #fff; }
    form {
        & { margin-top: 30px; }
        .mat-form-field { width: 100%; }
    }
}

// page - create/edit
.create-page {
    & { margin-top: 64px; }
    .page-title { padding: 20px 0px; margin: 0; text-transform: uppercase; }
    .submit-btn { background-color: $maincolor; color: #fff; }
    mat-form-field { width: 100%; }
    textarea { min-height: 100px; }
    .input-file { margin-bottom: 24px; }
    .label { margin-bottom: 5px; color: #808080; } 
    .input-file img { max-width: 100px; display: block; }
    .input-file input { margin-top: 10px; }
}

// page - create note page
.create-note-page {

}

// page - view
.view-page { 
    & { margin-top: 64px; }
    .page-title { padding: 20px 0px; margin: 0; text-transform: uppercase; }
    .toolbarspacer { flex: 1 1 auto; }
    .create-btn { background-color: $maincolor; color: #fff; }
    .mat-toolbar { background: #fff; }
    .status { text-transform: capitalize; font-weight: 600; padding: 2px 20px; border-radius: 5px; position: relative; }
}

// page - view notes
.view-notes-page { 
    .mat-column-status { flex: 0 0 150px; }
    .mat-column-created { flex: 0 0 150px; justify-content: flex-end; }
    .mat-column-tools { flex: 0 0 50px; justify-content: flex-end; }
    .status-todo { background: #fff2d7; color:#f9b104; }
    .status-done { background: #dff0de; color: #329c3a;  }
}
